
<!DOCTYPE html>
<html>
<head>
	<title>Nouveau ragot</title>
	<h1>Balance!</h1>
	<form action='/gossips/new/' method='POST'>
      <p>Ton potin :</p>
      Balance ton blase : <input type='text' name='gossip_author'/><br/>
      Balance ton potin : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
</head>
<body>

</body>
</html>